$primary: #7448ff;
$primary2: #9473ff;
$primary3: #9d80fc;
$secondary: #333333;
$font: #1c1b21;
$white: #ffffff;
$light_grey: #efefef;
$grey: #e8e8e9;
$grey2: #d5d4d6;
$grey3: #747474;
$error: #bb0c0c;